{% assign query_condition = "false" %}
{% if Request.Form.condition != null %}
  {% assign query_condition = Request.Form.condition %}  
{% endif %}
{% if Request.Query.condition != null %}
  {% assign query_condition = Request.Query.condition %}  
{% endif %}

{% assign query_region = '*' %}
{% if Request.Form.region != null %}
  {% assign query_region = Request.Form.region %}
{% endif %}
{% if Request.Query.region != null %}
  {% assign query_region = Request.Query.region %}
{% endif %}

{% assign query_category = "*" %}
{% if Request.Form.category != null %}
  {% assign query_category = Request.Form.category %}
{% endif %}
{% if Request.Query.category != null %}
  {% assign query_category = Request.Query.category %}
{% endif %}

{% assign query_type = "*" %}
{% if Request.Form.type != null %}
  {% assign query_type = Request.Form.type %}
{% endif %}
{% if Request.Query.type != null %}
  {% assign query_type = Request.Query.type %}
{% endif %}

{% assign query_model = "*" %}
{% if Request.Form.model != null %}
  {% assign query_model = Request.Form.model %}
{% endif %}
{% if Request.Query.model != null %}
  {% assign query_model = Request.Query.model %}
{% endif %}

{% assign query_advertiser = "*" %}
{% if Request.Form.advertiser != null %}
  {% assign query_advertiser = Request.Form.advertiser %}
{% endif %}
{% if Request.Query.advertiser != null %}
  {% assign query_advertiser = Request.Query.advertiser %}
{% endif %}

{% assign query_brand = "*" %}
{% if Request.Form.brand != null %}
  {% assign query_brand = Request.Form.brand %}
{% endif %}
{% if Request.Query.brand != null %}
  {% assign query_brand = Request.Query.brand %}
{% endif %}

{% assign query_size = "8" %}
{% if Request.Form.size != null %}
  {% assign query_size = Request.Form.size %}
{% endif %}
{% if Request.Query.size != null %}
  {% assign query_size = Request.Query.size %}
{% endif %}

{% assign query_from = "0" %}
{% if Request.Form.from != null %}
  {% assign query_from = Request.Form.from %}
{% endif %}
{% if Request.Query.from != null %}
  {% assign query_from = Request.Query.from %}
{% endif %}




<!-- ANNONCES -->
{% assign searchFarmMachineries = Queries.FarmMachinerySearch | query: size: query_size, from: query_from, condition: query_condition, region: query_region, category: query_category, type: query_type, model: query_model, advertiser: query_advertiser, brand: query_brand %}
{% assign count = searchFarmMachineries | size %}
{%if count > 0 %}
  <section>
  	<form action="/equipements-agricole" method="post" >
      {% antiforgerytoken %}

      
  <div class="container justify-content-center align-self-center">
      <div class="intro-text">
        <ul class="nav nav-tabs" id="SearchTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="farm-machinery-tab" data-toggle="tab" href="#farm-machinery" role="tab" aria-controls="farm-machinery" aria-selected="true">{{ "Farm Machinery" | t }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="real-estate-tab" data-toggle="tab" href="#real-estate" role="tab" aria-controls="real-estate" aria-selected="false">{{ "Real Estate" | t }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="classified-ads-tab" data-toggle="tab" href="#classified-ads" role="tab" aria-controls="classified-ads" aria-selected="false">{{ "Classified Ads" | t }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
          </li>
        </ul>
        <div class="search-box tab-content" id="SearchTabContent">
          <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">services</div>
          <div class="tab-pane fade" id="real-estate" role="tabpanel" aria-labelledby="real-estate-tab">real estate</div>
          <div class="tab-pane fade" id="classified-ads" role="tabpanel" aria-labelledby="classified-ads-tab">classified ads</div>
          <div class="tab-pane fade show active" id="farm-machinery" role="tabpanel" aria-labelledby="farm-machinery-tab">
          
            <div class="form-row align-items-center">
              <div class="col-sm-3">
                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                <label for="category">{{ "Category" | t }}</label>
                <select id="category" class="form-control" name="category">
                  <option value="*" selected>{{ "Choose..." | t }}</option>
                  {% for item in machineryCategories %}
                  <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-3">
                <label for="condition">Condition</label>
                <select id="condition" class="form-control" name="condition">
                  <option value="*">{{ "Choose..." | t }}</option>
                  {% if query_condition == "false" %}
                  	<option value="false" selected>Usagé</option>
                  {% else %}
                  	<option value="false">Usagé</option>
                  {% endif %}
                  {% if query_condition == "true" %}
                  	<option value="true" selected>Neuf</option>
                  {% else %}
                  	<option value="true">Neuf</option>
                  {% endif %}
                </select>
              </div>
              <div class="col-sm-3">
                {% assign machineryBrands = Queries.AllMachineryBrands | query %}
                <label for="brand">{{ "Marque" | t }}</label>
                <select id="brand" class="form-control" name="brand">
                  <option value="*" selected>{{ "Choose..." | t }}</option>
                  {% for item in machineryBrands %}
                  <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-3">
                <label for="region">{{ "Region" | t }}</label>
                <select id="region" class="form-control" name="region">
                  <option value="*" selected>{{ "Choose..." | t }}</option>
                  <option value="1">Abitibi-Témiscamingue</option>
                  <option value="2">Alberta</option>
                  <option value="3">Bas-Saint-Laurent</option>
                  <option value="4">Capitale-Nationale</option>
                  <option value="5">Centre-du-Québec</option>
                  <option value="6">Chaudière-Appalaches</option>
                  <option value="7">Colombie-Britannique</option>
                  <option value="8">Côte-Nord</option>
                  <option value="9">Estrie</option>
                  <option value="10">États-Unis</option>
                  <option value="11">Europe</option>
                  <option value="12">Gaspésie-Îles-de-la-Madeleine</option>
                  <option value="13">Île-du-Prince-Édouard</option>
                  <option value="14">Lanaudière</option>
                  <option value="15">Laurentides</option>
                  <option value="16">Laval</option>
                  <option value="17">Manitoba</option>
                  <option value="18">Maritimes</option>
                  <option value="19">Mauricie</option>
                  <option value="20">Montérégie</option>
                  <option value="21">Montréal</option>
                  <option value="22">Mauricie</option>
                  <option value="23">Nord-du-Québec</option>
                  <option value="24">Nouveau-Brunswick</option>
                  <option value="25">Nouvelle-Écosse</option>
                  <option value="26">Nunavut</option>
                  <option value="27">Ontario</option>
                  <option value="28">Outaouais</option>
                  <option value="29">Saguenay–Lac-Saint-Jean</option>
                  <option value="30">Saskatchewan</option>
                  <option value="31">Terre-Neuve-et-Labrador</option>
                  <option value="32">Territoires du Nord-Ouest</option>
                  <option value="33">Yukon</option>
                </select>
              </div>
              <div class="col-sm-3">
                {% assign advertisers = Queries.Advertisers | query %}
                <label for="advertiser">{{ "Advertiser" | t }}</label>
                <select id="advertiser" class="form-control" name="advertiser">
                  <option value="*" selected>{{ "Choose..." | t }}</option>
                  {% for item in advertisers %}
                  <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-3">
                {% assign advertisers = Queries.Advertisers | query %}
                <label for="year">{{ "Year" | t }}</label>
                <select id="year" class="form-control" name="year">
                  <option value="*" selected>{{ "Choose..." | t }}</option>
                  {% for item in advertisers %}
                  <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-3">
                <label for="price">{{ "Price" | t }}</label>
                <input type="text" id="price" class="form-control" name="price" />
              </div>
              <div class="col-sm-3">
                <label for="description">{{ "Description" | t }}</label>
                <input type="text" id="description" class="form-control" name="description" />
              </div>
            </div>
            <div class="row">
              <div class="col mt-4">
                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
              </div>
            </div>
            </div>
        </div>
      </div>
  </div>
      
      
      <div class="container">
          <div class="row mb-4 mt-4">
              <div class="col-md-6 form-inline">
                  <label for="sort">{{ "Classer par" | t }}</label>
                  <select id="sort" class="form-control form-control-sm ml-2" name="sort" onchange="this.form.submit()">
                    <option value="*" selected>{{ "Date descendant" | t }}</option>
                    <option value="*">{{ "Date ascendant" | t }}</option>
                    <option value="*">{{ "Prix descendant" | t }}</option>
                    <option value="*">{{ "Prix ascendant" | t }}</option>
                    <option value="*">{{ "Année descendant" | t }}</option>
                    <option value="*">{{ "Année ascendant" | t }}</option>
                  </select>
              </div>
              <div class="col-md-6">
                <div class="float-right form-inline">
                  <label for="size">{{ "Annonces par page" | t }} {{ query_size }}</label>
                  <select id="size" class="form-control form-control-sm ml-2" name="size">
                    <option value="1" {% if Request.Form.size == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if Request.Form.size == 2 %} selected {% endif %}>2</option>
                    <option value="4" {% if Request.Form.size == 4 %} selected {% endif %}>4</option>
                    <option value="8" {% if Request.Form.size == 8 %} selected {% endif %}>8</option>
                    <option value="16" {% if Request.Form.size == 16 %} selected {% endif %}>16</option>
                    <option value="24" {% if Request.Form.size == 24 %} selected {% endif %}>24</option>
                    <option value="50" {% if Request.Form.size == 50 %} selected {% endif %}>50</option>
                  </select>
                </div>
              </div>
          </div>
        <div class="row">
          {% for item in searchFarmMachineries %}
          <div class="col-md-4">

            {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachinery.Type.ContentItemIds[0]] %}
            {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachinery.Brand.ContentItemIds[0]] %}
            {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachinery.Advertiser.ContentItemIds[0]] %}

            <div class="card mb-3">
              <a href="{{ item | display_url }}"><img class="card-img-top" src="{{ item.Content.FarmMachinery.WebsitePictures.Paths[0] | asset_url }}" alt="{{ machinery_type | display_text }} {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.MachineryModel.Text }}"></a>
              <div class="card-body">
                {% if item.Content.FarmMachinery.Price.Value > 0 %}
                  <h5 class="card-text">{{ item.Content.FarmMachinery.Price.Value }} $ CAD</h5>
                {% else %}
                  <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                {% endif %}    
                <h5 class="card-title"><a href="{{ item | display_url }}">{{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.MachineryModel.Text }}</a></h5> 
                <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                <p class="card-text">Région: {{ item.Content.FarmMachinery.Region.Text }}</p>

              </div>
              <div class="card-footer text-center"><a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </form>
  </section>
{% else %}
  <section>
    <div class="jumbotron">
      <h1 class="display-4">{{ "No result found" | t }}</h1>
      <p class="lead">{{ "There may be no results corresponding to the criterion (s) of your search." | t }}</p>
      <hr class="my-4">
      <p>{{ "Try again please or go back to search page." | t }}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">{{ "Go back" | t }}</a>
      </p>
    </div>
  </section>
{% endif %}