{% if Request.Query.Page != null %}
{% assign from = Request.Query.Page | int32 | minus: 1 | times: 9 %}
{% else %}
{% assign from = 0 %}
{% endif %}
<section>
    <h1>{{ Model.ContentItem }}</h1>
    <div class="container">
        <div class="row border mb-4">
            <div class="col-md-3 p-5">
                {% if Model.ContentItem.Content.Advertiser.Logo.Paths[0] != null %}
                <img src="{{ Model.ContentItem.Content.Advertiser.Logo.Paths[0] | asset_url }}" alt="logo" class="img-fluid" />
                {% else %}
                <img src="/AffairesExtra/img/noimage.png" alt="logo" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-md-9">
                google map
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% assign main_address = Model.ContentItem.Content.Address.ContentItems.first %}
                {%if main_address != null %}
                <div>
                    <div class="row mb-3">
                        <div class="col">
                            <h2>{{ machinery_advertiser }}</h2>
                            <p>
                                <strong>{{ main_address.Address.Town.Text }}</strong><br/>
                                {{ main_address.Address.Street.Text }}<br/>
                                {{ main_address.Address.Town.Text }}
                                {{ main_address.Address.ProvinceState.Text }}
                                {{ main_address.Address.PostalCode.Text }}<br/>
                                <a href="https://www.google.com/maps/dir/{{ main_address.Address.PostalCode.Text }}/{{ main_address.Address.Street.Text }} {{ main_address.Address.Town.Text }} ({{ main_address.Address.ProvinceState.Text }})/" target="_blank">{{ "Get directions" | t }}</a>
                            </p>

                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p>
                    {%if main_address.Address.Phone1.Text != null %}
                    {{ "Phone" | t }} : {{ main_address.Address.Phone1.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Phone2.Text != null %}
                    {{ "Phone 2" | t }} : {{ main_address.Address.Phone2.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Fax.Text != null %}
                    {{ "Fax" | t }} : {{ main_address.Address.Fax.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Email.Text != null %}
                    {{ "Email" | t }} : <a href="mailto: {{ main_address.Address.Email.Text }}">{{ main_address.Address.Email.Text }}</a><br/>
                    {% endif %}
                    {%if main_address.Address.Website.Text != null %}
                    {{ "Website" | t }} : <a href="http://{{ main_address.Address.Website.Text }}" target="_blank">{{ main_address.Address.Website.Text }}</a><br/>
                    {% endif %}
                </p>
            </div>
            <!--
            <div class="col-md-4">
                Annonce publiée dans la revue<br/>
                de novembre 2018<br/>
                <a class="btn btn-primary" href="{{ machinery_advertiser | display_url }}">Voir l'annonce</a>
            </div>
            -->
        </div>
        {% assign addresses = Model.ContentItem.Content.Address.ContentItems %}
        {% assign count = addresses.size - 1 %}
        {% if count >= 1 %}
        <hr />
        <div class="row">
            <div class="col">
                <h3>Autres points de service</h3>
                <div class="row mb-3">
                    {% for i in (1..count) %}
                    <div class="col-md-6">
                        <p>
                            <strong>{{ addresses[i].Address.Town.Text }}</strong><br/>
                            {{ addresses[i].Address.Street.Text }}<br/>
                            {{ addresses[i].Address.Town.Text }}
                            {{ addresses[i].Address.ProvinceState.Text }}
                            {{ addresses[i].Address.PostalCode.Text }}<br/>
                            <a href="https://www.google.com/maps/dir/{{ addresses[i].Address.PostalCode.Text }}/{{ addresses[i].Address.Street.Text }} {{ addresses[i].Address.Town.Text }} ({{ addresses[i].Address.ProvinceState.Text }})/" target="_blank">{{ "Get directions" | t }}</a>
                        </p>
                        <p>
                            {%if addresses[i].Address.Phone1.Text != null %}
                            {{ "Phone" | t }} : {{ addresses[i].Address.Phone1.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Phone2.Text != null %}
                            {{ "Phone 2" | t }} : {{ addresses[i].Address.Phone2.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Fax.Text != null %}
                            {{ "Fax" | t }} : {{ addresses[i].Address.Fax.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Email.Text != null %}
                            {{ "Email" | t }} : {{ addresses[i].Address.Email.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Website.Text != null %}
                            {{ "Website" | t }} : <a href="http://{{ addresses[i].Address.Website.Text }}" target="_blank">{{ addresses[i].Address.Website.Text }}</a><br/>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="mb-5" />
        {% endif %}
    </div>
    
    <!-- ANNONCES -->
    {% assign searchFarmMachineries = Queries.FarmMachinerySearch | query: size: 100000, from: 0, condition: "*", region: "*", category: "*", type: "*", model: "*", advertiser: Model.ContentItem.ContentItemId, brand: "*", pricefrom: 0, priceto: 500000, year: null %}
    {% assign totalRecords = searchFarmMachineries.size %}
    {% assign searchFarmMachineries = Queries.FarmMachinerySearch | query: size: 9, from: from, condition: "*", region: "*", category: "*", type: "*", model: "*", advertiser: Model.ContentItem.ContentItemId, brand: "*", pricefrom: 0, priceto: 500000, year: null %}

    {%if searchFarmMachineries.size > 0 %}


    <div class="row">
        {% for item in searchFarmMachineries %}
        <div class="col-md-4 d-flex align-items-stretch">

            {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachinery.Type.ContentItemIds[0]] %}
            {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachinery.Brand.ContentItemIds[0]] %}
            {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachinery.Advertiser.ContentItemIds[0]] %}
            {% assign machinery_region = Content.ContentItemId[item.Content.FarmMachinery.Region.ContentItemIds[0]] %}
            {% assign img_alt =  machinery_brand | append: ' ' | append: item.Content.FarmMachinery.Model.Text %}
            <div class="card mb-3">
                <a href="{{ item | display_url }}">
                    {% if item.Content.FarmMachinery.WebsitePictures.Paths.size > 0 %}
                    {{ item.Content.FarmMachinery.WebsitePictures.Paths[0] | asset_url | resize_url: 480 | img_tag: alt: img_alt, class:'card-img-top' }}
                    {% else %}
                    <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png" />
                    {% endif %}
                </a>
                <div class="card-body">
                    {% if item.Content.FarmMachinery.Price.Value > 0 %}
                    <h5 class="card-text">{{ item.Content.FarmMachinery.Price.Value }} $ CAD</h5>
                    {% else %}
                    <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                    {% endif %}
                    <h5 class="card-title">
                        <a href="{{ item | display_url }}">
                            {{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.Model.Text }}
                        </a>
                    </h5>
                    {% if item.Content.FarmMachinery.Year.Value != null and item.Content.FarmMachinery.Year.Value > 0 %}
                    <p class="card-text">Année: {{ item.Content.FarmMachinery.Year.Value }}</p>
                    {% endif %}
                    {% if machinery_advertiser %}
                    <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                    {% endif %}
                    {% if machinery_region %}
                    <p class="card-text">Région: {{ machinery_region }}</p>
                    {% endif %}

                </div>
                <div class="card-footer text-center">
                    <a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            {% assign totalPages = totalRecords | divided_by: 9 %}
            {% assign testTotal = totalPages | times: 9 %}
            {% if testTotal < totalRecords %}
            {% assign totalPages = totalPages | plus: 1 %}
            {% endif %}
            {% if Request.Query.Page != null %}
            {% assign startPage = Request.Query.Page | int32 %}
            {% assign currentPage = Request.Query.Page | int32 %}
            {% else %}
            {% assign startPage = 1 %}
            {% endif %}

            {% assign endPage = startPage | plus: 2 %}
            {% if endPage > totalPages %}
            {% assign endPage = totalPages %}
            {% assign startPage = totalPages | minus: 2 %}
            {% endif %}

            {% if startPage <= 1 %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{currentPage | minus: 1}}" tabindex="-1">{{ "Previous" | t }}</a>
            </li>
            {% for i in (startPage..endPage) %}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endfor %}
            {% if endPage >= totalPages %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?page={{currentPage | plus: 1}}">{{ "Next" | t }}</a>
            </li>
        </ul>
    </nav>
    {% else %}

    <div class="jumbotron">
            <h1 class="display-4">{{ "No result found" | t }}</h1>
            <p class="lead">{{ "There may be no results corresponding to the criterion (s) of your search." | t }}</p>
            <div class="my-4">
                <p>{{ "Try again please or go back to search page." | t }}</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">{{ "Go back" | t }}</a>
                </p>
            </div>
        </div>

    {% endif %}
</section>