{% assign query_condition = "false" %}
{% if Request.Form.condition != null %}
  {% assign query_condition = Request.Form.condition %}  
{% endif %}
{% if Request.Query.condition != null %}
  {% assign query_condition = Request.Query.condition %}  
{% endif %}

{% assign query_region = '*' %}
{% if Request.Form.region != null %}
  {% assign query_region = Request.Form.region %}
{% endif %}
{% if Request.Query.region != null %}
  {% assign query_region = Request.Query.region %}
{% endif %}

{% assign query_category = "*" %}
{% if Request.Form.category != null %}
  {% assign query_category = Request.Form.category | downcase %}
{% endif %}
{% if Request.Query.category != null %}
  {% assign query_category = Request.Query.category | downcase %}
{% endif %}

{% assign query_model = "*" %}
{% if Request.Form.model != null %}
  {% assign query_model = Request.Form.model | downcase %}
{% endif %}
{% if Request.Query.model != null %}
  {% assign query_model = Request.Query.model | downcase %}
{% endif %}

{% assign query_advertiser = "*" %}
{% if Request.Form.advertiser != null %}
  {% assign query_advertiser = Request.Form.advertiser | downcase %}
{% endif %}
{% if Request.Query.advertiser != null %}
  {% assign query_advertiser = Request.Query.advertiser | downcase %}
{% endif %}

{% assign query_brand = "*" %}
{% if Request.Form.brand != null %}
  {% assign query_brand = Request.Form.brand | downcase %}
{% endif %}
{% if Request.Query.brand != null %}
  {% assign query_brand = Request.Query.brand | downcase %}
{% endif %}

{% assign query_year = 0 %}
{% if Request.Form.year != null %}
  {% assign query_year = Request.Form.year %}
{% endif %}
{% if Request.Query.year != null %}
  {% assign query_year = Request.Query.year %}
{% endif %}

{% assign query_price_from = 0 %}
{% if Request.Form.pricefrom != null %}
  {% assign query_price_from = Request.Form.pricefrom %}
{% endif %}
{% if Request.Query.pricefrom != null %}
  {% assign query_price_from = Request.Query.pricefrom %}
{% endif %}

{% assign query_price_to = 500000 %}
{% if Request.Form.priceto != null %}
  {% assign query_price_to = Request.Form.priceto %}
{% endif %}
{% if Request.Query.priceto != null %}
  {% assign query_price_to = Request.Query.priceto %}
{% endif %}

{% assign query_size = 9 %}
{% if Request.Form.size != null %}
  {% assign query_size = Request.Form.size %}
{% endif %}
{% if Request.Query.size != null %}
  {% assign query_size = Request.Query.size %}
{% endif %}

{% assign query_from = 0 %}
{% if Request.Form.page != null %}
  {% assign query_from = Request.Form.page %}
{% endif %}
{% if Request.Query.page != null %}
  {% assign query_from = Request.Query.page %}
{% endif %}

<section>
    <h1>{{ Model.ContentItem }}</h1>
    <div class="container">
        <div class="row border mb-4">
            <div class="col-md-3 p-5">
                {% if Model.ContentItem.Content.Advertiser.Logo.Paths[0] != null %}
                <img src="{{ Model.ContentItem.Content.Advertiser.Logo.Paths[0] | asset_url }}" alt="logo" class="img-fluid" />
                {% else %}
                <img src="/AffairesExtra/img/noimage.png" alt="logo" class="img-fluid" />
                {% endif %}
            </div>
            <div class="col-md-9">
                google map
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% assign main_address = Model.ContentItem.Content.Address.ContentItems.first %}
                {%if main_address != null %}
                <div>
                    <div class="row mb-3">
                        <div class="col">
                            <h2>{{ machinery_advertiser }}</h2>
                            <p>
                                <strong>{{ main_address.Address.Town.Text }}</strong><br/>
                                {{ main_address.Address.Street.Text }}<br/>
                                {{ main_address.Address.Town.Text }}
                                {{ main_address.Address.ProvinceState.Text }}
                                {{ main_address.Address.PostalCode.Text }}<br/>
                                <a href="https://www.google.com/maps/dir/{{ main_address.Address.PostalCode.Text }}/{{ main_address.Address.Street.Text }} {{ main_address.Address.Town.Text }} ({{ main_address.Address.ProvinceState.Text }})/" target="_blank">{{ "Get directions" | t }}</a>
                            </p>

                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p>
                    {%if main_address.Address.Phone1.Text != null %}
                    {{ "Phone" | t }} : {{ main_address.Address.Phone1.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Phone2.Text != null %}
                    {{ "Phone 2" | t }} : {{ main_address.Address.Phone2.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Fax.Text != null %}
                    {{ "Fax" | t }} : {{ main_address.Address.Fax.Text }}<br/>
                    {% endif %}
                    {%if main_address.Address.Email.Text != null %}
                    {{ "Email" | t }} : <a href="mailto: {{ main_address.Address.Email.Text }}">{{ main_address.Address.Email.Text }}</a><br/>
                    {% endif %}
                    {%if main_address.Address.Website.Text != null %}
                    {{ "Website" | t }} : <a href="http://{{ main_address.Address.Website.Text }}" target="_blank">{{ main_address.Address.Website.Text }}</a><br/>
                    {% endif %}
                </p>
            </div>
            <!--
            <div class="col-md-4">
                Annonce publiée dans la revue<br/>
                de novembre 2018<br/>
                <a class="btn btn-primary" href="{{ machinery_advertiser | display_url }}">Voir l'annonce</a>
            </div>
            -->
        </div>
        {% assign addresses = Model.ContentItem.Content.Address.ContentItems %}
        {% assign count = addresses.size - 1 %}
        {% if count >= 1 %}
        <hr />
        <div class="row">
            <div class="col">
                <h3>Autres points de service</h3>
                <div class="row mb-3">
                    {% for i in (1..count) %}
                    <div class="col-md-6">
                        <p>
                            <strong>{{ addresses[i].Address.Town.Text }}</strong><br/>
                            {{ addresses[i].Address.Street.Text }}<br/>
                            {{ addresses[i].Address.Town.Text }}
                            {{ addresses[i].Address.ProvinceState.Text }}
                            {{ addresses[i].Address.PostalCode.Text }}<br/>
                            <a href="https://www.google.com/maps/dir/{{ addresses[i].Address.PostalCode.Text }}/{{ addresses[i].Address.Street.Text }} {{ addresses[i].Address.Town.Text }} ({{ addresses[i].Address.ProvinceState.Text }})/" target="_blank">{{ "Get directions" | t }}</a>
                        </p>
                        <p>
                            {%if addresses[i].Address.Phone1.Text != null %}
                            {{ "Phone" | t }} : {{ addresses[i].Address.Phone1.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Phone2.Text != null %}
                            {{ "Phone 2" | t }} : {{ addresses[i].Address.Phone2.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Fax.Text != null %}
                            {{ "Fax" | t }} : {{ addresses[i].Address.Fax.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Email.Text != null %}
                            {{ "Email" | t }} : {{ addresses[i].Address.Email.Text }}<br/>
                            {% endif %}
                            {%if addresses[i].Address.Website.Text != null %}
                            {{ "Website" | t }} : <a href="http://{{ addresses[i].Address.Website.Text }}" target="_blank">{{ addresses[i].Address.Website.Text }}</a><br/>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr class="mb-5" />
        {% endif %}
    </div>
    
    <!-- ANNONCES -->
    {% assign query_from_next = query_from | int32 | plus: 1 | times: 9 %}
    {% assign query_from = query_from | int32 | times: 9 %}
    {% assign searchFarmMachineries = Queries.FarmMachinerySearchSQL | query: size: query_size, from: query_from_next, condition: '*', region: '*', category: '*', model: '*', brand: '*', advertiser: Model.ContentItem.ContentItemId, pricefrom: 0, priceto: 1000000, year: 0 %}
    {% assign nextPageRecords = searchFarmMachineries.size %}
    {% assign searchFarmMachineries = Queries.FarmMachinerySearchSQL | query: size: query_size, from: query_from, condition: '*', region: '*', category: '*', model: '*', brand: '*', advertiser: Model.ContentItem.ContentItemId, pricefrom: 0, priceto: 1000000, year: 0 %}

    {%if searchFarmMachineries.size > 0 %}


    <div class="row">
        {% for item in searchFarmMachineries %}
            <div class="col-md-4 d-flex align-items-stretch">
                {% if item.Content.FarmMachinery != null %}
                    {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachinery.Type.ContentItemIds[0]] %}
                    {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachinery.Brand.ContentItemIds[0]] %}
                    {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachinery.Advertiser.ContentItemIds[0]] %}
                    {% assign machinery_region = Content.ContentItemId[item.Content.FarmMachinery.Region.ContentItemIds[0]] %}
                    {% assign img_alt =  machinery_type | append: ' ' | machinery_brand | append: ' ' | append: item.Content.FarmMachinery.Model.Text %}
                    <div class="card mb-3 w-100">
                        <a href="{{ item | display_url }}" class="image d-flex justify-content-center align-items-center">
                            {% if item.Content.FarmMachinery.WebsitePictures.Paths.size > 0 %}
                                {{ item.Content.FarmMachinery.WebsitePictures.Paths[0] | asset_url | resize_url: 480, 240 | img_tag: alt: img_alt, class:'card-img-top' }}
                            {% else %}
                                <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png">
                            {% endif %}
                        </a>
                        <div class="card-body">
                          	{% if item.Content.FarmMachinery.PromoTag.Text != '' %}
                          	<p><span class="tag">{{ item.Content.FarmMachinery.PromoTag.Text }}</span></p>
                            {% endif %}
                            {% if item.Content.FarmMachinery.Price.Value > 0 %}
                            <h5 class="card-text">{{ item.Content.FarmMachinery.Price.Value }} $ CAD</h5>
                            {% else %}
                            <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                            {% endif %}    
                            <h5 class="card-title"><a href="{{ item | display_url }}">{{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.Model.Text }}</a></h5> 
                            <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                            <p class="card-text">Région: {{ machinery_region | display_text }}</p>
                        </div>
                        <div class="card-footer text-center"><a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a></div>
                    </div>
                {% elsif item.Content.FarmMachineryAccessory != null  %}
                    {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachineryAccessory.Type.ContentItemIds[0]] %}
                    {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachineryAccessory.Brand.ContentItemIds[0]] %}
                    {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachineryAccessory.Advertiser.ContentItemIds[0]] %}
                    {% assign machinery_region = Content.ContentItemId[item.Content.FarmMachineryAccessory.Region.ContentItemIds[0]] %}
                    {% assign img_alt =  machinery_type | append: ' ' | machinery_brand | append: ' ' | append: item.Content.FarmMachineryAccessory.Model.Text %}
                    <div class="card mb-3 w-100">
                        <a href="{{ item | display_url }}" class="image d-flex justify-content-center align-items-center">
                            {% if item.Content.FarmMachineryAccessory.WebsitePictures.Paths.size > 0 %}
                                {{ item.Content.FarmMachineryAccessory.WebsitePictures.Paths[0] | asset_url | resize_url: 480, 240 | img_tag: alt: img_alt, class:'card-img-top' }}
                            {% else %}
                                <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png">
                            {% endif %}
                        </a>
                        <div class="card-body">
                          	{% if item.Content.FarmMachineryAccessory.PromoTag.Text != '' %}
                          	<p><span class="tag">{{ item.Content.FarmMachineryAccessory.PromoTag.Text }}</span></p>
                            {% endif %}
                            {% if item.Content.FarmMachineryAccessory.Price.Value > 0 %}
                            <h5 class="card-text">{{ item.Content.FarmMachineryAccessory.Price.Value }} $ CAD</h5>
                            {% else %}
                            <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                            {% endif %}    
                            <h5 class="card-title"><a href="{{ item | display_url }}">{{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.Model.Text }}</a></h5> 
                            <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                            <p class="card-text">Région: {{ machinery_region | display_text }}</p>
                        </div>
                        <div class="card-footer text-center"><a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a></div>
                    </div>
                {% elsif item.Content.OtherEquipment != null  %}
                    {% assign machinery_type = Content.ContentItemId[item.Content.OtherEquipment.Type.ContentItemIds[0]] %}
                    {% assign machinery_brand = Content.ContentItemId[item.Content.OtherEquipment.Brand.ContentItemIds[0]] %}
                    {% assign machinery_advertiser = Content.ContentItemId[item.Content.OtherEquipment.Advertiser.ContentItemIds[0]] %}
                    {% assign machinery_region = Content.ContentItemId[item.Content.OtherEquipment.Region.ContentItemIds[0]] %}
                    {% assign img_alt =  machinery_type | append: ' ' | machinery_brand | append: ' ' | append: item.Content.OtherEquipment.Model.Text %}
                    <div class="card mb-3 w-100">
                        <a href="{{ item | display_url }}" class="image d-flex justify-content-center align-items-center">
                            {% if item.Content.OtherEquipment.WebsitePictures.Paths.size > 0 %}
                                {{ item.Content.OtherEquipment.WebsitePictures.Paths[0] | asset_url | resize_url: 480, 240 | img_tag: alt: img_alt, class:'card-img-top' }}
                            {% else %}
                                <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png">
                            {% endif %}
                        </a>
                        <div class="card-body">
                          	{% if item.Content.OtherEquipment.PromoTag.Text != '' %}
                          	<p><span class="tag">{{ item.Content.OtherEquipment.PromoTag.Text }}</span></p>
                            {% endif %}
                            {% if item.Content.OtherEquipment.Price.Value > 0 %}
                            <h5 class="card-text">{{ item.Content.OtherEquipment.Price.Value }} $ CAD</h5>
                            {% else %}
                            <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                            {% endif %}    
                            <h5 class="card-title"><a href="{{ item | display_url }}">{{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.OtherEquipment.Model.Text }}</a></h5> 
                            {% if machinery_advertiser != null %}
                            <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                            {% endif %}
                            {% if machinery_region != null %}
                            <p class="card-text">Région: {{ machinery_region | display_text }}</p>
                            {% endif %}
                        </div>
                        <div class="card-footer text-center"><a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a></div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            {% if Request.Query.Page != null %}
                {% assign currentPage = Request.Query.Page | int32 %}
            {% else %}
                {% assign currentPage = 1 %}
            {% endif %}
            {% if currentPage == 1 %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="?condition={{ Request.Query.condition }}&category={{ Request.Query.category }}&brand={{ Request.Query.brand }}&region={{ Request.Query.region }}&advertiser={{ Request.Query.advertiser }}&year={{ Request.Query.year }}&my_range={{ Request.Query.pricefrom }}%3B{{ Request.Query.priceto }}&pricefrom={{ Request.Query.pricefrom }}&priceto={{ Request.Query.priceto }}&description=&page={{ currentPage | int32 | minus: 1}}" tabindex="-1">{{ "Previous" | t }}</a>
            </li>
            {% if nextPageRecords > 0 %}
            <li class="page-item">
            {% else %}
            <li class="page-item disabled">
            {% endif %}
                <a class="page-link" href="?condition={{ Request.Query.condition }}&category={{ Request.Query.category }}&brand={{ Request.Query.brand }}&region={{ Request.Query.region }}&advertiser={{ Request.Query.advertiser }}&year={{ Request.Query.year }}&my_range={{ Request.Query.pricefrom }}%3B{{ Request.Query.priceto }}&pricefrom={{ Request.Query.pricefrom }}&priceto={{ Request.Query.priceto }}&description=&page={{ currentPage | int32 | plus: 1}}">{{ "Next" | t }}</a>
            </li>
        </ul>
    </nav>
    {% else %}

    <div class="jumbotron">
            <h1 class="display-4">{{ "No result found" | t }}</h1>
            <p class="lead">{{ "There may be no results corresponding to the criterion (s) of your search." | t }}</p>
            <div class="my-4">
                <p>{{ "Try again please or go back to search page." | t }}</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">{{ "Go back" | t }}</a>
                </p>
            </div>
        </div>

    {% endif %}
</section>