{% assign query_condition = "false" %}
{% if Request.Form.condition != null %}
  {% assign query_condition = Request.Form.condition %}  
{% endif %}
{% if Request.Query.condition != null %}
  {% assign query_condition = Request.Query.condition %}  
{% endif %}

{% assign query_region = '*' %}
{% if Request.Form.region != null %}
  {% assign query_region = Request.Form.region %}
{% endif %}
{% if Request.Query.region != null %}
  {% assign query_region = Request.Query.region %}
{% endif %}

{% assign query_category = Model.ContentItem.ContentItemId %}
{% if Request.Form.category != null %}
  {% assign query_category = Request.Form.category %}
{% endif %}
{% if Request.Query.category != null %}
  {% assign query_category = Request.Query.category %}
{% endif %}

{% assign query_type = "*" %}
{% if Request.Form.type != null %}
  {% assign query_type = Request.Form.type %}
{% endif %}
{% if Request.Query.type != null %}
  {% assign query_type = Request.Query.type %}
{% endif %}

{% assign query_model = "*" %}
{% if Request.Form.model != null %}
  {% assign query_model = Request.Form.model %}
{% endif %}
{% if Request.Query.model != null %}
  {% assign query_model = Request.Query.model %}
{% endif %}

{% assign query_advertiser = "*" %}
{% if Request.Form.advertiser != null %}
  {% assign query_advertiser = Request.Form.advertiser %}
{% endif %}
{% if Request.Query.advertiser != null %}
  {% assign query_advertiser = Request.Query.advertiser %}
{% endif %}

{% assign query_brand = "*" %}
{% if Request.Form.brand != null %}
  {% assign query_brand = Request.Form.brand %}
{% endif %}
{% if Request.Query.brand != null %}
  {% assign query_brand = Request.Query.brand %}
{% endif %}

{% assign query_year = null %}
{% if Request.Form.year != null %}
  {% assign query_year = Request.Form.year %}
{% endif %}
{% if Request.Query.year != null %}
  {% assign query_year = Request.Query.year %}
{% endif %}

{% assign query_price_from = 0 %}
{% if Request.Form.pricefrom != null %}
  {% assign query_price_from = Request.Form.pricefrom %}
{% endif %}
{% if Request.Query.pricefrom != null %}
  {% assign query_price_from = Request.Query.pricefrom %}
{% endif %}

{% assign query_price_to = 500000 %}
{% if Request.Form.priceto != null %}
  {% assign query_price_to = Request.Form.priceto %}
{% endif %}
{% if Request.Query.priceto != null %}
  {% assign query_price_to = Request.Query.priceto %}
{% endif %}

{% assign query_size = "9" %}
{% if Request.Form.size != null %}
  {% assign query_size = Request.Form.size %}
{% endif %}
{% if Request.Query.size != null %}
  {% assign query_size = Request.Query.size %}
{% endif %}

{% assign query_from = "0" %}
{% if Request.Form.page != null %}
  {% assign query_from = Request.Form.page | int32 | minus: 1 | times: 9 %}
{% endif %}
{% if Request.Query.page != null %}
  {% assign query_from = Request.Query.page | int32 | minus: 1 | times: 9 %}
{% endif %}




<!-- ANNONCES -->
{% assign searchFarmMachineries = Queries.FarmMachinerySearch | query: size: 1000000, from: 0, condition: query_condition, region: query_region, category: query_category, type: query_type, model: query_model, advertiser: query_advertiser, brand: query_brand, pricefrom: query_price_from, priceto: query_price_to, year: query_year %}
{% assign totalRecords = searchFarmMachineries.size %}
{% assign searchFarmMachineries = Queries.FarmMachinerySearch | query: size: query_size, from: query_from, condition: query_condition, region: query_region, category: query_category, type: query_type, model: query_model, advertiser: query_advertiser, brand: query_brand, pricefrom: query_price_from, priceto: query_price_to, year: query_year %}

{%if searchFarmMachineries.size > 0 %}
  <section>
  	<form action="/equipements-agricole" method="post" >
      {% antiforgerytoken %}

      
    <div class="container justify-content-center align-self-center">
        <div class="intro-text">
            <ul class="nav nav-tabs" id="SearchTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="farm-machinery-new-tab" data-toggle="tab" href="#farm-machinery-new" role="tab" aria-controls="farm-machinery-new" aria-selected="true">{{ "New" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="farm-machinery-used-tab" data-toggle="tab" href="#farm-machinery-used" role="tab" aria-controls="farm-machinery-used" aria-selected="false">{{ "Used" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="real-estate-tab" data-toggle="tab" href="#real-estate" role="tab" aria-controls="real-estate" aria-selected="false">{{ "Real Estate" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="classified-ads-tab" data-toggle="tab" href="#classified-ads" role="tab" aria-controls="classified-ads" aria-selected="false">{{ "Classified Ads" | t }}</a>
                </li>
            </ul>
            <div class="search-box tab-content" id="SearchTabContent">
                <div class="tab-pane fade show active" id="farm-machinery-new" role="tabpanel" aria-labelledby="farm-machinery-new-tab">
                    <form accept-charset="UTF-8" action="equipements" method="get" >
                        <input type="hidden" id="condition" name="condition" value="true" />
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!--<div class="col-sm-3">
                                {% assign machineryTypes = Queries.AllMachineryTypes | query %}
                                <label for="type">{{ "Type" | t }}</label>
                                <select id="type" class="form-control" name="type">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryTypes %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>-->
                            <div class="col-sm-3">
                                {% assign machineryBrands = Queries.AllMachineryBrands | query %}
                                <label for="brand">{{ "Marque" | t }}</label>
                                <select id="brand" class="form-control" name="brand">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryBrands %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="year">{{ "Year" | t }} </label>
                                <select id="year" class="form-control" name="year">
                                    <option value="0" selected="">{{ "Choose..." | t }}</option>
                                    {% assign year = "now" | local | date: "%Y" %}
                                    {% for i in (1900..year) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                        {% antiforgerytoken %}
                    </form>
                </div>
                <div class="tab-pane fade" id="farm-machinery-used" role="tabpanel" aria-labelledby="farm-machinery-used-tab">
                    <form accept-charset="UTF-8" action="equipements" method="get" >
                        <input type="hidden" id="condition" name="condition" value="false" />
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!--<div class="col-sm-3">
                                {% assign machineryTypes = Queries.AllMachineryTypes | query %}
                                <label for="type">{{ "Type" | t }}</label>
                                <select id="type" class="form-control" name="type">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryTypes %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>-->
                            <div class="col-sm-3">
                                {% assign machineryBrands = Queries.AllMachineryBrands | query %}
                                <label for="brand">{{ "Marque" | t }}</label>
                                <select id="brand" class="form-control" name="brand">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryBrands %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="year">{{ "Year" | t }} </label>
                                <select id="year" class="form-control" name="year">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% assign year = "now" | local | date: "%Y" %}
                                    {% for i in (1900..year) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                        {% antiforgerytoken %}
                    </form>
                </div>
                <div class="tab-pane fade" id="real-estate" role="tabpanel" aria-labelledby="real-estate-tab">
                    <form action="immobilier" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Property type" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Activity type" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Property status" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Area" | t }}</label>
                                <input type="text" id="price" class="form-control" name="price" />
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "# of rooms" | t }}</label>
                                <input type="text" id="price" class="form-control" name="price" />
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                    <form action="services" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Subcategory" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="classified-ads" role="tabpanel" aria-labelledby="classified-ads-tab">
                    <form action="petites-annonces-classees" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                  <option value="*" selected="">{{ "Choose..." | t }}</option>
                                  {% for item in regions %}
                                    {% if Request.Query.Region | downcase == item.ContentItemId | downcase %}
                                    	<option value="{{ item.ContentItemId }}" selected>{{ item | display_text }}</option>
                                    {% else %}
                                    	<option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
      
      <div class="container">
          <div class="row mb-4 mt-4">
              <div class="col-md-6 form-inline">
                  <label for="sort">{{ "Classer par" | t }}</label>
                  <select id="sort" class="form-control form-control-sm ml-2" name="sort" onchange="this.form.submit()">
                    <option value="*" selected>{{ "Date descendant" | t }}</option>
                    <option value="*">{{ "Date ascendant" | t }}</option>
                    <option value="*">{{ "Prix descendant" | t }}</option>
                    <option value="*">{{ "Prix ascendant" | t }}</option>
                    <option value="*">{{ "Année descendant" | t }}</option>
                    <option value="*">{{ "Année ascendant" | t }}</option>
                  </select>
              </div>
              <div class="col-md-6">
                <div class="float-right form-inline">
                  <label for="size">{{ "Annonces par page" | t }} {{ query_size }}</label>
                  <select id="size" class="form-control form-control-sm ml-2" name="size">
                    <option value="1" {% if Request.Form.size == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if Request.Form.size == 2 %} selected {% endif %}>2</option>
                    <option value="4" {% if Request.Form.size == 4 %} selected {% endif %}>4</option>
                    <option value="8" {% if Request.Form.size == 8 %} selected {% endif %}>8</option>
                    <option value="16" {% if Request.Form.size == 16 %} selected {% endif %}>16</option>
                    <option value="24" {% if Request.Form.size == 24 %} selected {% endif %}>24</option>
                    <option value="50" {% if Request.Form.size == 50 %} selected {% endif %}>50</option>
                  </select>
                </div>
              </div>
          </div>
        <div class="row">
          {% for item in searchFarmMachineries %}
          <div class="col-md-4 d-flex align-items-stretch">

            {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachinery.Type.ContentItemIds[0]] %}
            {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachinery.Brand.ContentItemIds[0]] %}
            {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachinery.Advertiser.ContentItemIds[0]] %}
            {% assign machinery_region = Content.ContentItemId[item.Content.FarmMachinery.Region.ContentItemIds[0]] %}
            {% assign img_alt =  machinery_brand | append: ' ' | append: item.Content.FarmMachinery.Model.Text %}
            <div class="card mb-3 w-100">
                <a href="{{ item | display_url }}">
                    {% if item.Content.FarmMachinery.WebsitePictures.Paths.size > 0 %}
                        {{ item.Content.FarmMachinery.WebsitePictures.Paths[0] | asset_url | resize_url: 480 | img_tag: alt: img_alt, class:'card-img-top' }}
                    {% else %}
                        <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png" />
                    {% endif %}
                </a>
                <div class="card-body">
                    {% if item.Content.FarmMachinery.Price.Value > 0 %}
                        <h5 class="card-text">{{ item.Content.FarmMachinery.Price.Value }} $ CAD</h5>
                    {% else %}
                        <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                    {% endif %}    
                    <h5 class="card-title"><a href="{{ item | display_url }}">{{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.Model.Text }}</a></h5> 
                    {% if item.Content.FarmMachinery.Year.Value != null and item.Content.FarmMachinery.Year.Value > 0 %}
                    <p class="card-text">Année: {{ item.Content.FarmMachinery.Year.Value }}</p>
                    {% endif %}
                    {% if machinery_advertiser %}
                    <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                    {% endif %}
                    {% if machinery_region %}
                    <p class="card-text">Région: {{ machinery_region }}</p>
                    {% endif %}

                </div>
                <div class="card-footer text-center"><a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a></div>
            </div>
            </div>
          {% endfor %}
        </div>
          {% assign totalPages = totalRecords | divided_by: 9 %}

          {% if totalPages > 1 %}
            {% assign testTotal = totalPages | times: 9 %}
    
            {% if testTotal < totalRecords %}
              {% assign totalPages = totalPages | plus: 1 %}
            {% endif %}
            {% if Request.Query.Page != null %}
              {% assign currentPage = Request.Query.Page | int32 %}
            {% else %}
    	      {% assign currentPage = 1 %}
            {% endif %}
            <nav class="mt-5">
                <ul class="pagination justify-content-center">
                    {% assign endPage = currentPage | plus: 1 %}
              	    {% assign startPage = currentPage | minus: 1 %}
                    {% if endPage > totalPages %}
                	    {% assign endPage = totalPages %}
                    {% endif %}
              
                    {% if startPage < 1 %}
                	    {% assign startPage = 1 %}
              		    {% if totalPages >= 3 %}
              			    {% assign endPage = 3 %}
              		    {% endif %}
                    {% endif %}
              
                    {% if currentPage == 1 %}
                    <li class="page-item disabled">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="?page={{currentPage | minus: 1}}" tabindex="-1">{{ "Previous" | t }}</a>
                    </li>
                    {% for i in (startPage..endPage) %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endfor %}
                    {% if currentPage >= totalPages %}
                    <li class="page-item disabled">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="?page={{currentPage | plus: 1}}">{{ "Next" | t }}</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
      </div>
    </form>
  </section>
{% else %}
  <section>
    <div class="jumbotron">
      <h1 class="display-4">{{ "No result found" | t }}</h1>
      <p class="lead">{{ "There may be no results corresponding to the criterion (s) of your search." | t }}</p>
      <hr class="my-4">
      <p>{{ "Try again please or go back to search page." | t }}</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">{{ "Go back" | t }}</a>
      </p>
    </div>
  </section>
{% endif %}