{% zone "Header" %}
<!-- Header -->
<header class="masthead home d-flex">
    <div class="container justify-content-center align-self-center">
        <div class="intro-text">
            <ul class="nav nav-tabs" id="SearchTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="farm-machinery-new-tab" data-toggle="tab" href="#farm-machinery-new" role="tab" aria-controls="farm-machinery-new" aria-selected="true">{{ "New" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="farm-machinery-used-tab" data-toggle="tab" href="#farm-machinery-used" role="tab" aria-controls="farm-machinery-used" aria-selected="false">{{ "Used" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="real-estate-tab" data-toggle="tab" href="#real-estate" role="tab" aria-controls="real-estate" aria-selected="false">{{ "Real Estate" | t }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="classified-ads-tab" data-toggle="tab" href="#classified-ads" role="tab" aria-controls="classified-ads" aria-selected="false">{{ "Classified Ads" | t }}</a>
                </li>
            </ul>
            <div class="search-box tab-content" id="SearchTabContent">
                <div class="tab-pane fade show active" id="farm-machinery-new" role="tabpanel" aria-labelledby="farm-machinery-new-tab">
                    <form accept-charset="UTF-8" action="equipements" method="get" >
                        <input type="hidden" id="condition" name="condition" value="true" />
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryTypes = Queries.AllMachineryTypes | query %}
                                <label for="type">{{ "Type" | t }}</label>
                                <select id="type" class="form-control" name="type">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryTypes %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">

                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="year">{{ "Year" | t }} </label>
                                <select id="year" class="form-control" name="year">
                                    <option value="0" selected="">{{ "Choose..." | t }}</option>
                                    {% assign year = "now" | local | date: "%Y" %}
                                    {% for i in (1900..year) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                        {% antiforgerytoken %}
                    </form>
                </div>
                <div class="tab-pane fade" id="farm-machinery-used" role="tabpanel" aria-labelledby="farm-machinery-used-tab">
                    <form accept-charset="UTF-8" action="equipements" method="get" >
                        <input type="hidden" id="condition" name="condition" value="false" />
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryTypes = Queries.AllMachineryTypes | query %}
                                <label for="type">{{ "Type" | t }}</label>
                                <select id="type" class="form-control" name="type">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryTypes %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryBrands = Queries.AllMachineryBrands | query %}
                                <label for="brand">{{ "Marque" | t }}</label>
                                <select id="brand" class="form-control" name="brand">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryBrands %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="year">{{ "Year" | t }} </label>
                                <select id="year" class="form-control" name="year">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% assign year = "now" | local | date: "%Y" %}
                                    {% for i in (1900..year) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                        {% antiforgerytoken %}
                    </form>
                </div>
                <div class="tab-pane fade" id="real-estate" role="tabpanel" aria-labelledby="real-estate-tab">
                    <form action="immobilier" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Property type" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Activity type" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Property status" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Region" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Area" | t }}</label>
                                <input type="text" id="price" class="form-control" name="price" />
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "# of rooms" | t }}</label>
                                <input type="text" id="price" class="form-control" name="price" />
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                    <form action="services" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Category" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign machineryCategories = Queries.AllMachineryCategories | query %}
                                <label for="category">{{ "Subcategory" | t }}</label>
                                <select id="category" class="form-control" name="category">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in machineryCategories %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                {% assign advertisers = Queries.Advertisers | query %}
                                <label for="advertiser">{{ "Advertiser" | t }}</label>
                                <select id="advertiser" class="form-control" name="advertiser">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in advertisers %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="classified-ads" role="tabpanel" aria-labelledby="classified-ads-tab">
                    <form action="petites-annonces-classees" method="get" >
                        <div class="form-row align-items-center">
                            <div class="col-sm-3">
                                {% assign regions = Queries.AllRegions | query %}
                                <label for="region">{{ "Region" | t }}</label>
                                <select id="region" class="form-control" name="region">
                                    <option value="*" selected="">{{ "Choose..." | t }}</option>
                                    {% for item in regions %}
                                    <option value="{{ item.ContentItemId }}">{{ item | display_text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="price">{{ "Price" | t }}</label>
                                <input type="text" class="js-range-slider" name="my_range" value="" />
                                <input type="hidden" name="pricefrom" id="pricefrom" value="0" />
                                <input type="hidden" name="priceto" id="priceto" value="200000" />
                            </div>
                            <div class="col-sm-3">
                                <label for="description">{{ "Description" | t }}</label>
                                <input type="text" id="description" class="form-control" name="description" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-4">
                                <button type="submit" class="btn btn-primary">{{ "Search" | t }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endzone %}

<h2 class="text-center mb-5 mt-5">Concour l'affaire la plus extra !</h2>
<a class="e-widget no-button" href="https://gleam.io/0XTkD/concours-laffaire-la-plus-extra" rel="nofollow" data-loading-text="Chargement...">Concours L'affaire la plus Extra</a>
<script type="text/javascript" src="https://js.gleam.io/e.js" async="true"></script>

<section>

    <!-- ANNONCES EN VEDETTE -->
    <h2 class="text-center mb-5">Annonces en vedette</h2>
    {% assign recentFarmMachineries = Queries.RecentFarmMachineries | query %}
    <div class="row">
        {% for item in recentFarmMachineries %}
        <div class="col-md-4 d-flex align-items-stretch">

            {% assign machinery_type = Content.ContentItemId[item.Content.FarmMachinery.Type.ContentItemIds[0]] %}
            {% assign machinery_brand = Content.ContentItemId[item.Content.FarmMachinery.Brand.ContentItemIds[0]] %}
            {% assign machinery_advertiser = Content.ContentItemId[item.Content.FarmMachinery.Advertiser.ContentItemIds[0]] %}
            {% assign machinery_region = Content.ContentItemId[item.Content.FarmMachinery.Region.ContentItemIds[0]] %}
            {% assign img_alt =  machinery_brand | append: ' ' | append: item.Content.FarmMachinery.Model.Text %}
            <div class="card mb-3">
                <a href="{{ item | display_url }}">
                    {% if item.Content.FarmMachinery.WebsitePictures.Paths.size > 0 %}
                        {{ item.Content.FarmMachinery.WebsitePictures.Paths[0] | asset_url | img_tag: alt: img_alt, class:'card-img-top' }}
                    {% else %}
                        <img class="card-img-top" alt="no image" src="/AffairesExtra/img/noimage.png" />
                    {% endif %}
                </a>
                <div class="card-body">
                    {% if item.Content.FarmMachinery.Price.Value > 0 %}
                    <h5 class="card-text">{{ item.Content.FarmMachinery.Price.Value }} $ CAD</h5>
                    {% else %}
                    <h5 class="card-text">{{ "Price upon request" | t }}</h5>
                    {% endif %}
                    <h5 class="card-title">
                        <a href="{{ item | display_url }}">
                            {{ machinery_type | display_text }} <br/> {{ machinery_brand | display_text }} {{ item.Content.FarmMachinery.Model.Text }}
                        </a>
                    </h5>
                    {% if item.Content.FarmMachinery.Year.Value != null and item.Content.FarmMachinery.Year.Value > 0 %}
                    <p class="card-text">Année: {{ item.Content.FarmMachinery.Year.Value }}</p>
                    {% endif %}
                    {% if machinery_advertiser %}
                    <p class="card-text">Concessionnaire: {{ machinery_advertiser | display_text }}</p>
                    {% endif %}
                    {% if machinery_region %}
                    <p class="card-text">Région: {{ machinery_region }}</p>
                    {% endif %}

                </div>
                <div class="card-footer text-center">
                    <a href="{{ item | display_url }}" class="btn btn-primary align-self-center">Voir la fiche</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="text-center mb-5 mt-5">Rubriques</h2>
    {% assign farmMachineryCategories = Queries.FarmMachineryCategories | query %}
    <div class="owl-carousel owl-theme">
        {% for item in farmMachineryCategories %}
        <div class="card mb-3 item">
            <a href="{{ item | display_url }}">
                <img class="card-img-top" src="{{ item.Content.FarmMachineryCategory.Picture.Paths[0] | asset_url }}" />
            </a>
            <div class="card-body">
                <p class="card-title">
                    <a href="{{ item | display_url }}">{{ item | display_text }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>